:root {
    --backgrounded: #171521;
    --menu-dark-blue: #19192B;
    --blue: #009CB7;
    --orange: #F19952;
    --dark-orange: #FF6645;
    --gray-text: #74687B;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }

body {
  height: 100vh;
  width: 100vw;
  background: rgb(0,156,183);
  background: radial-gradient(circle, rgba(0,156,183,1) 0%, rgba(0,94,116,1) 0%, rgba(23,21,33,1) 100%);
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

}

.logo {
  height: 2.5rem;
}

nav ul {
  display: flex;
  list-style: none; 
  padding: 0;
  text-decoration: none;
}
nav li a {
  text-decoration: none;
  color: var(--gray-text);
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-size: 1.2rem;
  margin-right: 2rem;

}
nav li a:hover {
color: var(--blue);
background-color: rgba(161, 161, 161, 0.055) ;
border-radius: 0.5rem;
}

/* CONTAINER */

.container-menu {
  display: flex;
  justify-content: center;

}

/* ASIDE MENU */

aside {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: auto;
  width: 16rem;
  justify-content: start;
  padding: 0.5rem;
  background-color:  #19192b71;
  border-radius: 0.7rem 0 0 0.7rem;
  
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--gray-text);
  margin: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.add-protfolio {
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 2rem;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 

}

button {
  transition: 200ms all ease-in-out;
}

.protfolio-name {
  color: white;
  font-size: 1.6rem;
  padding-left: 12px;
}
.protfolio-list 
{
  min-height: 20rem;
}
.wallet {
  text-decoration: none;
  list-style: none; 
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0.8rem;
  padding: 5px 0px;
  border-bottom: var(--blue) solid 4px;
  border-bottom-color: transparent;
  transition: border-bottom-color 0.5s;
}

aside i {
  margin-right: 10px;
}

.save-btn {
  background-color: #00b75c;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 1rem;
  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
.save-btn i {
  font-size: 20px;
}


.upload-btn {
  background-color: #FF6645;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 1rem;
  opacity: 0.8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.upload-btn i {
  font-size: 20px;
}

.add-protfolio:hover, .save-btn:hover, .upload-btn:hover {
  opacity: 0.4; 
 
}

.wallet:hover{
  opacity: 0.8;
  border-bottom-color: var(--blue);

}


/* MENU */

.container-main {
  background-color:  #19192b77;
  border-radius: 0 0.7rem 0.7rem 0;
  width: 55rem;
  padding: 1rem;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.holding-total {
  color: var(--gray-text);
  font-size: 1.7rem;
}

.holding-value {
  color: var(--orange);
  font-size: 2rem;
  margin-top: 0.5rem;
}

.transaction-btn {
  background-color: var(--dark-orange);
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.holding-menu {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}


.holding-menu div {
  color: var(--gray-text);
  padding: 0.5rem;
  font-size: 1.1rem;
    cursor: pointer;
}

.line-holding {
  position: relative;
  padding: 0;
}

.line-holding::before {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  height: 5px; /* Çizgi kalınlığı */
  background-color: var(--blue); /* Çizgi rengi */
  transform: translateY(-50%); /* Dikey ortalamak için */
}

.line-tans {
  position: relative;
  padding: 0;
  opacity: 0;
}

.line-tans::before {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  height: 5px; /* Çizgi kalınlığı */
  background-color: var(--blue); /* Çizgi rengi */
  transform: translateY(-50%); /* Dikey ortalamak için */
  
}

.list-item-texts {
  color: var(--gray-text);
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
}

.list-item-texts > div {
  width: 120px;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  color: white;
}
.list-item > div {
  width: 120px;
  font-size: 0.9rem;
}

.item-action i {
  font-size: 16px;
  margin: 0 0.5rem;
  cursor: pointer;
}

.item-name {
 display: flex;
}

.item-name > i {
  margin-right: 15px;
}

.buy {
  color: #00b75c;
  margin-bottom: 6px;
}

.sell {
  color: #FF6645;
  margin-bottom: 6px;
}

.trans-name {
  display: flex;
  padding-left: 6px;
}

.coin {
  margin-left: 12px;
}

.trans-coin {
  margin-left: 12px;
}

.trans-action i{
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 16px;
}

.trans-type {
  padding: 0 3px;
}
/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  color: var(--gray-text);
  padding: 1rem;
  
}

footer p {
  color: var(--gray-text);
  font-size: small;
  margin: 0.5rem;
  text-shadow: #000000b0 0.1rem 0.1rem;
}

/* ADD TRANSACTION */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425); 
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.transaction-container {
  background: rgb(23,21,33);
  background: linear-gradient(0deg, rgba(23,21,33,1) 0%, rgba(28,48,77,1) 100%);
  color: white;
  width: 550px;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  z-index: 999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.transaction-text {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 24px;
 letter-spacing: 3px;
 margin: 20px 0px;
}

.buy-sell-transfer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;

}

.buy-sell-transfer div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #74687B solid 3px;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: green;
  color: white;
}

.buy-btn.active {
  background-color: rgb(0, 179, 0);
  color: white;
}


.sell-btn:hover {
  background-color: rgb(192, 0, 0);
  color: white;
}

.sell-btn.active {
  background-color: rgb(255, 0, 0);
  color: white;
}

.transfer-btn:hover {
  background-color: #74687B;
  color: white;
}

.transfer-btn.active {
  background-color: #a291ac;
  color: white;
}

.coin-trans-text {
  color: var(--gray-text);
  font-weight: bold;
  padding: 0px 10px ;
  margin-top: 20px
}

.coin-input {
  background-color: transparent;
  color: white;
  width: 500px;
  display: flex;
  margin: 10px;
  border: #74687B solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

input:focus {
  outline: none; 
  border-color: var(--blue); 
  box-shadow: 0 0 6px var(--blue); 
  border: #74687B solid 0px;
}

::placeholder {
  color: white;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

.coin-text {
  margin: 0px 16px;
}

.amount-text {
  color: var(--gray-text);
  font-weight: bold;
  padding: 0px 10px ;
  margin-top: 20px
}

.amount-input {
  background-color: transparent;
  color: white;
  width: 500px;
  display: flex;
  margin: 10px;
  border: #74687B solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.price-text {
  color: var(--gray-text);
  font-weight: bold;
  padding: 0px 10px ;
  margin-top: 20px
}

.price-input {
  background-color: transparent;
  color: white;
  width: 500px;
  display: flex;
  margin: 10px;
  border: #74687B solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.date-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-text {
  color: var(--gray-text);
  font-weight: bold;
  padding: 0px 10px ;
  margin-top: 10px
}

.date-input {
  display: flex;
  background-color: transparent;
  color: white;
  margin: 10px;
  border: #74687B solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  width: 220px;
}

.time-text {
  color: var(--gray-text);
  font-weight: bold;
  padding: 0px 10px ;
  margin-top: 10px
}

.time-input {
  display: flex;
  background-color: transparent;
  color: white;
  margin: 10px;
  border: #74687B solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  width: 220px;
}

.total-spent-container {
  background-color: #19192bb7;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
}

.total-spent-text {
  color: var(--gray-text);
  margin: 10px;
  font-size: 18px;
}

.total-spent-input {
  margin: 10px;
  font-size: 26px;
}

.add-transaction-btn {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  margin: 20px 0;
  padding: 18px;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 2px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
  color: #888;
  cursor: pointer;
}